
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,q,small,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,textarea
{
	/*
	Had to remove these styles so the list items would show up numbered
	border: 0;
	margin: 0;
	padding: 0;*/ 
}
html
{
	height:100%;	
}
body
{
	font-family: Calibri,Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size: 13px;
	color: #000000;
	webkit-text-size-adjust: none;
	height: 100%;
	direction: ltr;
}
textarea
{
	font-family: Calibri,Helvetica Neue,Helvetica,Arial,sans-serif;	
}
input
{
	font-family: Calibri,Helvetica Neue,Helvetica,Arial,sans-serif;	
}
a
{
	text-decoration: none;
	font-weight: bold;
	color: #608B9B;
	cursor: hand;
}
#header
{
	display: block;
    z-index:+1;
}
#container
{
	background-image: url(../images/top.png);
	background-repeat:repeat-x;	
	width: 100%;
	height: 100%;
}
#subcontainer
{
 	width: 1000px;    
 	position: relative;
	margin-top: 0px;    
	margin-bottom: 0px;    
	margin-left: auto;    
	margin-right: auto;    
	padding: 0px;
	height: 100%;
}
#logo
{
	background-image: url(../images/logo.png); 
	background-repeat: no-repeat;
	padding-left: 144px;
	line-height: 2.1em;
	color: #134D88;
	font-weight: bold;
	font-size:22px;
}
#appName
{
	height: 48px;
}
.left
{
	background: #F6F6F6;
	padding:15px 0 15px 15px;
	border-right: 2px solid #ECEFF4;
}
.right
{
	background: #F6F6F6;
	padding:15px;
	border-left: 2px solid #ECEFF4;
}
.content
{
	padding:15px;
}
#nav
{
	top: 48px;
	background-image: url(../images/nav.png); 
	background-repeat: repeat-x;
	height: 42px;
	width: 100%;
	
}
.contentwrapper
{
	width: 996px;   /* 1000px - 4px border */
 	position: relative;
 	height:100%;
	margin-top: 0px;    
	margin-bottom: 0px;    
	margin-left: auto;    
	margin-right: auto;
	border-left: 2px solid #ECEFF4;
	border-right: 2px solid #ECEFF4;
}





